.whoAR img {
  border-radius: 30%;
  float: left;
  height: auto;
  width : 30vh;
  margin: 10px 15px;
}
.who-about img
{
    border-radius: 20%;
    float: left;
    height: auto;
    height: 45vh;
    width : 50vh;
    margin: 10px 15px;
  }
  .whoAR h2{
    text-align: right;
  }
  

  .navbar img{
  float: right;
  height: auto;
  width : 73px;
  
  }